* {
  margin: 0rem;
  padding: 0rem;
  text-align: center;
}

table, thead, th, tr, td {
    border: 1px solid black;
    margin: 0.2rem auto;
    text-align: center;
}

h1, p {
    background-color: rgba(0, 0, 0, 0);
}

h4 {
    padding: 0.5rem;
}

.tables,
.pymoli-jumbo {
  margin: 2rem auto;
  width: 90%;
}

.pymoli-jumbo {
    background-image: url('../images/Fantasy.png');
    background-position: center;
}